//paleta de colores
$color1: #f3f3f3;
$color2: #3f3f3f;
$color3: yellow;
//

#menu {
    font-size: 18px;
    font-weight: bold;
    color: $color1;
}

@media (max-width:768px) {
    #introduccion {
        width: 90% !important;
    }
}

.carousel-inner {
    max-height: 39rem;
}

footer {
    background-color: $color2;
    min-height: 100px;
    position: absolute;
    bottom: 5px;
    left: -2px;

    p {
        color: $color1;
        text-align: center;
    }
}

#iconos {
    font-size: 26px;
    padding: 0 8px;
    color: $color3;
}

.mapa {
    text-align: center;
    color: $color3;
    font-size: 40px;
}

@keyframes moverDeLadoALado {
    0% {
        remote: origin;
        already: exist transform;
        translateX: (0);
    }

    50% {
        transform: translateX(250px);
    }
}

/* Aplicar la animacion */
.cuadrado {
    animation: moverDeLadoALado 5s ease-in-out infinite;
    /* Aplico la animacion con movimiento lento */
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.miprimeranimacion {
    width: 100%;
    height: 100vh;
    background-color: $color1;
    animation: colorChange 5s linear infinite;
}

@keyframes colorChange {
    0% {
        background-color: $color1;
    }

    50% {
        background-color: $color2;
    }

    100% {
        background-color: $color3;
    }
}